body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -250px;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}

.link {
    font-size: 20px;
}