<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Add Cars Page</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>

    <!-- <a href="index">Home</a>
    <a href="login">Login</a>
    <a href="register">Register</a> -->

    <h1>Add Car</h1>
    <form action="/addCars" method="POST">

        <label for="make">Make:</label><br>
        <input type="text" id="make" name="make" required><br>

        <label for="model">Model:</label><br>
        <input type="model" id="model" name="model" required><br>

        <label for="year">Year:</label><br>
        <input type="year" id="year" name="year" required><br>

        <label for="price">Price:</label><br>
        <input type="price" id="price" name="price" required><br>

        <label for="color">Color:</label><br>
        <input type="color" id="color" name="color" required><br>

        <label for="vin">VIN:</label><br>
        <input type="vin" id="vin" name="vin" required><br>
        
        <label for="mileage">Mileage:</label><br>
        <input type="mileage" id="mileage" name="mileage" required><br>

        <input type="submit" value="AddCar">

    </form>
</body>

</html>