<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to our page</h1>
        <div>
            <a href="login" class="link">To Login</a> | <a href="register" class="link">To Register</a>
        </div>
    </div>
</body>

</html>